@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:100&subset=latin,cyrillic);
body
{
    margin: 0;
    padding: 0;
}

.logo
{
    width: 100px;
}

.search
{
    width: 400px;
    display: block;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px auto 0px;
}

.send-phone-form
{
    font: 600 16px 'Roboto Slab', serif;
    border: 1px solid black;
    border-radius: 5px;
    color: #000;
    margin: 10px auto 10px;
    width: 400px;
    text-align: center;
}

.send-phone-form input
{
    width: 250px;
    display: block;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0 auto 10px;
}


.info-button
{
    visibility: hidden;
}

.send-phone-form:valid .info-button
{
    display: block;
    margin: 0 auto 10px;
    visibility: visible;
}

table
{
    margin-bottom: 1%;
    font: 400 14px 'Roboto Slab', serif;
    width: 900px;
    margin: 10px auto 0px;
    background-color: #0c3b65;
    border: 1px solid #000;
    border-spacing: 0;
    text-align: center;
    border-radius: 5px;
    color: #ccf;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

th
{
    padding: 5px 10px;
    border-bottom: 1px solid #ccf;
    position: relative;
}

td
{
    padding: 5px 10px;
    position: relative;
    height: 20px;
}

tr
{
    height: 5px;
}

td:hover::after
{
    content: "";
    position: absolute;
    background-color: #001933;
    left: 0;
    top: -5000px;
    height: 10000px;
    width: 100%;
    z-index: -1;
}

tr:hover
{
    background-color: #001933;
}

tr:nth-child(odd)
{
    background-color: rgba(8,47,80, 0.01);
}
